h1 {
  color: firebrick;
}

ul {
  list-style-type: none;
}

.voice-actor-img {
  box-sizing: border-box;
  width: 42px;
  margin-right: 10px;
  float: left;
  height: 65.3333px;
  border: 1px;
}
.voice-actor-wrapper {
  padding: 10px;
  overflow: hidden;
}

.border {
  border: 1px solid black;

  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 0 0 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}
