h1 {
  color: firebrick;
}

ul {
  list-style-type: none;
}

.voice-actor-img {
  float: left;
  margin-right: 10px;
  width: 42px;
  height: 65.3333px;
  border: 1px;
}

.border {
  border: 1px solid black;
}
