/*  MENU */
#menu-list{
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background-color: #fff;
  transition: right 0.4s ease-in-out;
}

#menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex start; /* adjust list position here */
}

#menu-list li {
  padding: 20px;
}

#menu-list.open {
  right: 0;
}

#close-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Intro*/
header{
  width:100%
}
 #navbar{
    display: flex;
    justify-content: space-between;
 }

 h1{
  margin: 0;
 }

 body{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:10px
    
}

#banner{
  max-width: 100%;
  display: block;
 }

#intro{
    border: 1px ;
    padding: 1px;
    /* max-width: 600px; */
    min-height: 300px;
 }
 #intro p{
  color: hsl(236, 13%, 42%) ;
}

/*MIDDLE PANNEL*/
 #sample{
    display: grid;
    border: 1px;
    padding: 10px;
    background-color: hsl(240, 100%, 5%);
    color:hsl(236, 13%, 42%);
    min-height: 400px;

 }

 .sample-list{
  list-style-type: none;
  padding-left: 5px;
 }

.items{
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

.items:last-child {
  border-bottom: none;
}

 #sample h2{
  color:hsl(35, 77%, 62%);
  margin-bottom: 0;
  height: ;
}

#sample h3{
  color:hsl(36, 100%, 99%);
}

/*BUTTON*/
 #about-button{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
 }

 #about-button:hover{
    background-color: hsl(5, 85%, 63%)

 }

 /* BOTTOM LIST*/
 ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
}

li {
  counter-increment: item;
  margin-bottom: 20px;
}

.list-item {
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 20%;
  height: 20%;
  margin-right: 20px;
}

.list-item-number {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  color:hsl(233, 8%, 79%)
}

.list-item-content {
  flex: 1;
}

.list-item-content h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  color: hsl(240, 100%, 5%);
}

.list-item-content p {
  margin-bottom: 0;
  margin-top: 3px;
  font-size: 15px;
  color:hsl(236, 13%, 42%)
}

@media(min-width:768px){
 
}